<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>MYINFO</title>
</head>
<body>
	<div class="uinfo_nav"> 
	   <ul class="uinfo_navbar">   
	   	   <li><a th:href="@{'/'+'userinfo/myinfo'}">My Info</a></li>
	       <li><a th:href="@{'/'+'userinfo/mybooking'}">나의 예약 내역</a></li>
	       <li><a th:href="@{'/'+'userinfo/myreview'}">내가 쓴 리뷰</a></li>
	       <li><a th:href="@{'/'+'userinfo/myqalist'}">My Q&A</a></li>
	       <li><a th:href="@{'/'+'userinfo/userchat'}">1:1 상담</a></li>
	   </ul>
	</div>
</body>
</html>